; Visual Studio Extension : http://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328
; See http://editorconfig.org/ for more informations
; Top-most EditorConfig file
root = true

[*]
; Windows-style newlines - Commented out as we are normalizing the line endings
; for all text files via the .gitattribute setting.
; Specifying it here (and especially hardcoding it to a specific value)
; causes trouble for systems where core.eol = LF  (or on a Linux system, where the
; native line ending is LF as well, as then the .editorconfig and .git have a different
; idea about the correct line ending). Instead, assume that the user has a sane
; editor which will not convert the line ending of the files on a whim and rely on
; the .gitattribues to always use LF on checked in files.
; end_of_line = CRLF

; 4-column space indentation
[*.cs]
indent_style = space
indent_size = 4

[*.cake]
indent_style = tab
indent_size = 4