# See https://help.github.com/articles/dealing-with-line-endings for help

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs text diff=csharp

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# paket.exe will always create this file with CRLF line ending
src/.paket/Paket.Restore.targets text eol=crlf

# These files are binaries
src/GitTfsTest/Fixtures/vtccds/* binary
