# Local-only VS/Re#/etc files
*.suo
*.vs/
*.vscode/
*.user
*.gpState
.*.swp
*.wxs
*.wixobj
*.msi
/Auth.targets

# Build outputs
bin
obj
/Releases
/tmp

# 3rd-party stuff copied during build
/packages
GitTfs/git2.*
.paket/paket.exe

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.ncrunch*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# DevTracker files
*.dt
