# Local-only VS/Re#/etc files
*.suo
*.user
*.gpState
_ReSharper.*
.*.swp
/Auth.targets

# Build outputs
bin
obj
/Releases
/tmp

# 3rd-party stuff copied during build
/packages
GitTfs/git2.*
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
