source https://www.nuget.org/api/v2/

//If you plan to update this file, you must first absolutly read our documentation on the subject
//because there is some subtleties on how we use it in our project:
//https://github.com/git-tfs/git-tfs/blob/master/doc/paket.md

nuget NuGet.CommandLine
nuget LibGit2Sharp 0.21.0.176
nuget Microsoft.TeamFoundationServer.Client 14.95.3 framework: >= net45
nuget Microsoft.TeamFoundationServer.ExtendedClient 14.95.3 framework: >= net45
nuget WixSharp 1.0.22.3 framework: >= net40
nuget xunit 1.9.2 framework: >= net40
nuget xunit.extensions 1.9.2 framework: >= net40
nuget xunit.runner.visualstudio 2.0.1 framework: >= net40
nuget xunit.runners 1.9.2 framework: >= net40
nuget MSBuildTasks 1.4.0.45 framework: >= net40
