framework: net462
source https://www.nuget.org/api/v2/

//If you plan to update this file, you must first absolutly read our documentation on the subject
//because there is some subtleties on how we use it in our project:
//https://github.com/git-tfs/git-tfs/blob/master/doc/paket.md

nuget nlog
nuget NuGet.CommandLine
nuget LibGit2Sharp
nuget WixSharp 1.0.22.3 framework: >= net40
nuget xunit
nuget xunit.assert
nuget xunit.runner.msbuild
nuget MSBuildTasks 1.4.0.45 framework: >= net40
nuget xunit.runner.visualstudio

//console runner to be able to run it in the console
nuget xunit.runner.console

group VS2015
	framework: net462
	source https://www.nuget.org/api/v2/
	nuget Microsoft.TeamFoundationServer.Client ~> 14.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 14.0

group VS2017
	framework: net462
	source https://www.nuget.org/api/v2/
	nuget Microsoft.TeamFoundationServer.Client ~> 15.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 15.0
	nuget Microsoft.VisualStudio.Setup.Configuration.Interop

