# pin paket to a specific version so the build is really reproducable
version 6.2.1

framework: net472
source https://api.nuget.org/v3/index.json

//If you plan to update this file, you must first absolutly read our documentation on the subject
//because there is some subtleties on how we use it in our project:
//https://github.com/git-tfs/git-tfs/blob/master/doc/paket.md

nuget nlog
nuget LibGit2Sharp ~> 0.26.1
nuget Moq
nuget structuremap 2.6.3
nuget StructureMap.AutoMocking 2.6.3
nuget xunit
nuget xunit.assert
nuget xunit.runner.visualstudio version_in_path: true

group Build
    redirects: off
    source https://api.nuget.org/v3/index.json

nuget Cake
nuget Cake.Git
nuget GitVersion.CommandLine
nuget Octokit.CodeFormatter 1.0.0-preview preview
nuget opencover
nuget reportgenerator
nuget Octokit
nuget xunit.runner.console


group VS2015
	framework: net472
	source https://api.nuget.org/v3/index.json
	nuget Microsoft.TeamFoundationServer.Client ~> 14.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 14.0


group VS2017
	framework: net472
	source https://api.nuget.org/v3/index.json
	nuget Microsoft.TeamFoundationServer.Client ~> 15.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 15.0
	nuget Microsoft.VisualStudio.Setup.Configuration.Interop
	nuget Microsoft.VisualStudio.Settings.15.0 ~> 15.0


group VS2019
	framework: net472
	source https://api.nuget.org/v3/index.json
	nuget Microsoft.TeamFoundationServer.Client ~> 16.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 16.0
	nuget Microsoft.VisualStudio.Setup.Configuration.Interop
	nuget Microsoft.VisualStudio.Settings.15.0 ~> 16.0

group VS2022
	framework: net472
	source https://api.nuget.org/v3/index.json
	nuget Microsoft.TeamFoundationServer.Client ~> 16.0
	nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 16.0
	nuget Microsoft.VisualStudio.Setup.Configuration.Interop
	nuget Microsoft.VisualStudio.Settings.15.0 ~> 17.0
